QDRANT_URL = https://9bfd63a6-f6af-40fe-84a3-de287d5e39ff.us-east-1-1.aws.cloud.qdrant.io
QDRANT_API_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.DCS0gYVwtwiAh6EoHg561LJesAUsBXoIHun9ZiUKvjY

GEMINI_API_KEY = your_gemini_api_key_here

SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_anon_key
DATABASE_URL=postgresql://user:password@db.supabase.co:5432/postgres
