fastapi
uvicorn[standard]
python-multipart

httpx
beautifulsoup4
lxml[html_clean]
readability-lxml
tldextract

pydantic
pydantic-settings

qdrant-client==1.11.3

sentence-transformers
transformers

pymupdf
pdfminer.six

python-dotenv
tenacity
orjson
google-generativeai
pymysql
sqlglot
SQLAlchemy>=2.0.0
pandas
